{% trans %}
<h3>Tentang Open Data Kabupaten Ciamis</h3>

<h4>Apa itu Open Data Kabupaten Ciamis? </h4>

<p>Open Data Kabupaten Ciamis adalah layanan penyebarluasan data yang terbuka. 
Sistem ini merupakan salah satu bentuk komitmen Pemerintah Kabupaten Ciamis dalam mewujudkan Ciamis Smart City. 
Data yang tersedia dapat digunakan pelbagai kalangan pengguna, seperti pemerintah, peneliti, mahasiswa, wiraswasta, dan lain-lain.</p>

<h4>Tujuan Open Data Kabupaten Ciamis</h4>

<p>Tujuan utama Open Data Kabupaten Ciamis yaitu untuk mendukung visi dan misi Kabupaten Ciamis.
Kehadiran layanan ini merupakan salah satu upaya untuk mewujudkan pemerintahan yang transparan, akuntabel, dan inovatif.</p>

<h4>From Data to Actionable Insight</h4>

<p>Open Data Kabupaten Ciamis tidak sekadar sebagai pusat basis data sektoral tetapi juga dapat dipergunakan sebagai bahan analisis data guna memperoleh pengetahuan yang dapat diimplementasikan (actionable insight).</p>

<h4>Permohonan Data</h4>

<p>Permohonan data dapat dilakukan dengan cara mengontak narahubung</p>

<h4>Narahubung</h4>

<p>Dinas Komunikasi dan Informatika Kabupaten Ciamis, Bidang Pengelolaan Statistik dan Data Elektronik.</p>
<!--<p>CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br />
CKAN Tour: <a href="http://ckan.org/tour/">http://ckan.org/tour/</a><br />
Features overview: <a href="http://ckan.org/features/">http://ckan.org/features/</a></p>-->
{% endtrans %}
