{% ckan_extends %}

{% block footer_content %}
  <div class="footer-links">
    <div class="logo">
      <script type="text/javascript" src="https://freehitcounters.org/count/8dzr"></script><br>
 <a href='https://www.symptoma.it/'>https://www.symptoma.it</a> <script type='text/javascript' src='https://www.whomania.com/ctr?id=906595e6a442a96ed6b133b0fecd31c188b5306f'></script>
      <!--<a href="#">
        <img src="/kom.png" width="130"  style="margin-bottom:20px" />
      </a>-->
      {# <h5>2013 - 2021 Diskominfo Ciamis.</h5> #}
    </div>
    <div class="all-links">
      <ul class="unstyled">
        <li><a href="/">{{ _('Contact Us') }}</a></li>
        <li>
          <a href="/" target="_blank">
            <i class="fa fa-twitter-square" style="font-size:30px"></i>
          </a>
          <a href="/" target="_blank">
            <i class="fa fa-facebook-square" style="font-size:30px"></i>
          </a>
          <a href="https://gitlab.com/aghna/theme-open-data-ciamis" target="_blank">
            <i class="fa fa-github-square" style="font-size:30px"></i>
          </a>
        </li>
        <li><a href="/"> FAQ: ajukan pertanyaan</a></li>
        <li><a href="/about">{{ _('About {0}').format(g.site_title) }}</a></li>
        <!--{% set api_url = 'http://docs.ckan.org/en/2.9/api/index.html' %}
        <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>-->
      </ul>

      <ul class="unstyled">
        <li>{% snippet "snippets/language_selector.html" %}</li>
        <li><a href="http://ckan.org">Powered by Diskominfo</a></li>
        <!--<li><a href="/sites/changelog.html">Changelog: bit&aacute;cora del producto</a></li>-->
        <!--<li> <br>
            Las im&aacute;genes de lugares del Paraguay provienen de &nbsp;
            <a href="https://www.instagram.com/fotociclo/" style="color: #187794">FOTOCICLO</a>
        </li>-->
      </ul>
    </div>
  </div>
{% endblock %}
