{% ckan_extends %}

{% block primary_content %}
  <div id="myCarousel" class="carousel slide module-search" data-ride="carousel" data-interval="8000">
    {% snippet 'home/snippets/search.html'  %}
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li> 
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active"
         style="background: url(/kot.jpg) no-repeat center center fixed; background-size: cover;"
      > <!--</div>
      <div class="item"
        style="background: url(/ta.jpg) no-repeat center center fixed; background-size: cover;"
      >
      </div>
      <div class="item"
        style="background: url(/jid.jpg) no-repeat center center fixed; background-size: cover;"
      >
      </div>
      <div class="item"
        style="background: url(/po.jpg) no-repeat center center fixed; background-size: cover;"
      >
      </div>
      <div class="item"
        style="background: url(/alun.jpeg) no-repeat center center fixed; background-size: cover;"
      >-->
      </div>
    </div>
  </div>
  <p class="joined-orgs-msg"><!--Halo <b><a href="/organization">{{ h.get_site_statistics()["organization_count"] }}</a></b> organisasi <br /> dan <b><a href="/dataset">{{ h.get_site_statistics()["dataset_count"] }}</a></b> dataset <br />telah terbit untuk Anda.--></p>
  <div class="roles">
    <h2>Cari tahu siapa yang menggunakan data terbuka</h2>
    <p>dan bagaimana data itu digunakan di Kabupaten Ciamis untuk meningkatkan Pemerintah Daerah.<br /></p>
    <div class="roles-container">
      {#
      <div class="roles-sample roles-sample-orange-bg frame-round">
        <h2>Visualizaciones</h2>
        <p><a href="http://cuantodebemos.mx" target="_blank">Conoce la deuda de tu estado. Encuéntralo en CuantoDebemos.mx</a></p>
      </div>
      #}
      <div class="frame-round frame-round-white-bg">
        <h2>Dataset</h2>
        <p><!--Memutuskan<br />Menemukan<br />Bertindak<br />Data terbuka--></p>
        <a class="button button-orange" href="/dataset">Visualisasi</a>
      </div>
    </div>


    <div class="roles-container">
      <div class="frame-round frame-round-white-bg">
        <h2>Grup Data</h2>
        <p><!--Conoce c&oacute;mo se utilizan los datos abiertos en Paraguay--></p>
         <a class="button button-blue" href="/group">Visualisasi</a>
      </div>


    </div>

    <div class="roles-container">
      <div class="frame-round frame-round-white-bg">
        <h2>Organisasi</h2>
        <p><!--APIs Visualizaciones Open source Datos abiertos--></p>
        <a class="button button-green" href="/organization">Visualisasi</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  {% snippet "home/snippets/subscription.html" %}
  <div class="collaborators">
    <div class="community">
      <!--<h2>Parte de la comunidad:</h2>-->
      <!--<a href="https://www.reaccion.org.py" target="_blank">
        <img src="/reaccion-logo.png" />
      </a>
      <a href="http://codium.com.py" target="_blank">
        <img src="/codium-logo.png" />
      </a>
      <a href="https://cds.com.py/" target="_blank">
        <img src="/cds-logo.png" />
      </a>
      <a href="https://www.idea.org.py/" target="_blank">
        <img src="/idea-logo.png" style="height: 90px"/>
      </a>
      <a href="https://girolabs.com/" target="_blank">
        <img src="/girolabs-logo.png" style="height:35px" />
      </a>
      <a href="https://civilab.org.py/" target="_blank">
        <img src="/civilab-logo.png" style="height:80px" />
      </a>-->
      <a href="https://ciamiskab.go.id/" target="_blank">
        <img src="/misi.png" style="height:120px" />
      </a>
      <a href="https://data.go.id/" target="_blank">
        <img src="/satin.png" style="height:80px" />
      </a>
      <a href="http://www.opengovindonesia.org/" target="_blank">
        <img src="/opu.png" style="height:65px" />
      </a>
    </div>
    <!--<div class="supporters">
      <h2>Con apoyo de:</h2>
      <a href="https://www.pti.org.py/" target="_blank">
        <img src="/pti-logo.png" />
      </a>
      <a href="https://www.ned.org/" target="_blank">
        <img src="/ned-logo.png" />
      </a>
    </div>-->
  </div>
{% endblock %}
