<div class="subscription" id="subscribe-section">
  <div class="message">
    <label id="msg">Jika ada permintaan data silahkan</label>
    <label id="msg">bergabunglah dengan komunitas data terbuka di Kabupaten Ciamis.</label>
<!--<p>No te enviaremos spam ni compartiremos tu email con terceros.</p>-->
  </div>
  <input type="button" class="button button-orange" value="Subscribe" onclick="window.open('/user/register');">
  <input type="button" class="button button-blue" value="Permintaan Data" onclick="window.open('/datarequest');">
{# <form action="//codeandomexico.us4.list-manage.com/subscribe/post?u=9999e133ff73ed69bbddc6af9&amp;id=fc526c99c5" class="input-lg form-inline" method="post" name="mc-embedded-subscribe-form" target="_black" role="form" novalidate> #}
{#
<form action="" class="input-lg form-inline" role="form">
    <div class="mail form-group">
        <input id="email" class="form-control" type="email" value="" name="EMAIL" placeholder="datos@datos.org.py" required/>
    </div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_edb21ee4f7098f8db239eea63_10162bafef" tabindex="-1" value=""/></div>
    <div class="send form-group">
        <input type="submit" class="button button-orange" id="subscribe_me" value="Suscríbeme" name="subscribe"/>
    </div>
  </form>
#}
</div>

